

<table class="table table-striped">
  <thead>
    <tr>
      <th> </th>
      <th><img src="https://cdn.volabit.com/assets/volabit-00b4f691b2d749e17c557bd2ec0808a1.png" alt="" height="20px"></th>
      <th><img src="https://bitso.com/assets/images/b/logo.svg" alt="" height="20px"></th>
      <th><img src="assets/Bitstamp.png" alt="" height="18px"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sell Price</td>
      <td class="volabit_sell_btc_mxn">MXN</td>
      <td class="bitso_sell_btc_mxn">MXN</td>
      <td class="bitstamp_sell_btc_mxn">MXN</td>
    </tr>
    <tr>
      <td>Price Diff %</td>
      <td class="volabit_bitso_sell_diff">%</td>
      <td class="bitso_bitstamp_sell_diff">%</td>
      <td>-</td>
    </tr>
    <tr>
      <td>Buy Price</td>
      <td class="volabit_buy_btc_mxn">MXN</td>
      <td class="bitso_buy_btc_mxn">MXN</td>
      <td class="bitstamp_buy_btc_mxn">MXN</td>
    </tr>
    <tr>
      <td>Price Diff %</td>
      <td class="volabit_bitso_buy_diff">%</td>
      <td class="bitso_bitstamp_buy_diff">%</td>
      <td>-</td>
    </tr>
    <tr>
      <td>Spread</td>
      <td class="volabit_spread">Spread</td>
      <td class="bitso_spread">Spread</td>
      <td class="bitstamp_spread">Spread</td>
    </tr>
    <tr>
      <td>%</td>
      <td class="volabit_spread_percentage">%</td>
      <td class="bitso_spread_percentage">%</td>
      <td class="bitstamp_spread_percentage">%</td>
    </tr>
  </tbody>
</table>

<div>*Bitstamp data is being converted with this USD MXN Exchange rate <span class="fx_mxn_usd">FX</span></div>

<hr>
